@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pokemon-card {
  background-color: #ffffff;
  min-width: 346px;
  height: 246px;
  border: 2px solid black;
  position: relative;
}

.pokemon-card:hover {
  background-color: #7cef6f;
  cursor: pointer;
}

.image-container img {
  max-width: 100%; /* Ensure the image doesn't exceed its parent's width */
  height: 220px; /* Maintain the aspect ratio while adjusting the width */
  position: absolute;
}

.evolution-chain-img {
  max-width: 100%;
  /* height: 180px; */
  /* background-color: red;
  border-radius: 50%; */
}

.circle {
  width: 180px; /* Adjust the size of the circle as needed */
  height: 180px; /* Adjust the size of the circle as needed */
  background-color: #e9e9e9; /* Set the background color of the circle */
  border-radius: 50%; /* Make it a circle by setting border-radius */
  display: flex;
  align-items: center;
  justify-content: center;
}



